{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<pre>
 _____ ______   ___  ________   ___  _____ ______   ________  ___          
|\   _ \  _   \|\  \|\   ___  \|\  \|\   _ \  _   \|\   __  \|\  \         
\ \  \\\__\ \  \ \  \ \  \\ \  \ \  \ \  \\\__\ \  \ \  \|\  \ \  \        
 \ \  \\|__| \  \ \  \ \  \\ \  \ \  \ \  \\|__| \  \ \   __  \ \  \       
  \ \  \    \ \  \ \  \ \  \\ \  \ \  \ \  \    \ \  \ \  \ \  \ \  \____  
   \ \__\    \ \__\ \__\ \__\\ \__\ \__\ \__\    \ \__\ \__\ \__\ \_______\
    \|__|     \|__|\|__|\|__| \|__|\|__|\|__|     \|__|\|__|\|__|\|_______|
                                                                           
</pre>
<pre>
 ________  _______   ________  ___       ________      ___    ___ ________  ________  ___       _______      
|\   ___ \|\  ___ \ |\   __  \|\  \     |\   __  \    |\  \  /  /|\   __  \|\   __  \|\  \     |\  ___ \     
\ \  \_|\ \ \   __/|\ \  \|\  \ \  \    \ \  \|\  \   \ \  \/  / | \  \|\  \ \  \|\ /\ \  \    \ \   __/|    
 \ \  \ \\ \ \  \_|/_\ \   ____\ \  \    \ \  \\\  \   \ \    / / \ \   __  \ \   __  \ \  \    \ \  \_|/__  
  \ \  \_\\ \ \  \_|\ \ \  \___|\ \  \____\ \  \\\  \   \/  /  /   \ \  \ \  \ \  \|\  \ \  \____\ \  \_|\ \ 
   \ \_______\ \_______\ \__\    \ \_______\ \_______\__/  / /      \ \__\ \__\ \_______\ \_______\ \_______\
    \|_______|\|_______|\|__|     \|_______|\|_______|\___/ /        \|__|\|__|\|_______|\|_______|\|_______|
                                                     \|___|/                                                 
</pre>
<pre>
 ________        ___  ________  ________   ________  ________     
|\   ___ \      |\  \|\   __  \|\   ___  \|\   ____\|\   __  \    
\ \  \_|\ \     \ \  \ \  \|\  \ \  \\ \  \ \  \___|\ \  \|\  \   
 \ \  \ \\ \  __ \ \  \ \   __  \ \  \\ \  \ \  \  __\ \  \\\  \  
  \ \  \_\\ \|\  \\_\  \ \  \ \  \ \  \\ \  \ \  \|\  \ \  \\\  \ 
   \ \_______\ \________\ \__\ \__\ \__\\ \__\ \_______\ \_______\
    \|_______|\|________|\|__|\|__|\|__| \|__|\|_______|\|_______|
</pre>
<pre>
 ________  ________  ________        ___  _______   ________ _________   
|\   __  \|\   __  \|\   __  \      |\  \|\  ___ \ |\   ____\\___   ___\ 
\ \  \|\  \ \  \|\  \ \  \|\  \     \ \  \ \   __/|\ \  \___\|___ \  \_| 
 \ \   ____\ \   _  _\ \  \\\  \  __ \ \  \ \  \_|/_\ \  \       \ \  \  
  \ \  \___|\ \  \\  \\ \  \\\  \|\  \\_\  \ \  \_|\ \ \  \____   \ \  \ 
   \ \__\    \ \__\\ _\\ \_______\ \________\ \_______\ \_______\  \ \__\
    \|__|     \|__|\|__|\|_______|\|________|\|_______|\|_______|   \|__|
                                                                         
</pre>